.App {

  /* background-image: url(bg1.jpg); */
  /* background-image: linear-gradient(#7703fcfc,#fc03e3);
  background-size: cover; */
  height: 100vh; 
  padding-right:0;
  padding-left:0;
}
.self-no-padding{
  padding-right:0;
  padding-left:0;
}
body, html {
  height: 100%; /* Ensure full viewport height */
margin: 0; 
}
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full viewport height */
}

.flex-container2 {
  display: flex;
  /* flex-direction: column; */
  height: 100vh; /* Ensure full viewport height */
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
